nav a:hover {

elevation:6px;

}
nav {

color:white;

}


.navbar-brand
{
color:white;
font-size: 25px !important;
}
h1{
font-size:8vw;
top:30%;
left:30%;
color:white;
position: absolute;

}
body{
overflow-x: hidden;
background: rgb(72,72,246);
background: linear-gradient(90deg, rgba(72,72,246,0.9364788151588761) 50%, rgba(96,177,252,0.7123891793045343) 100%, rgba(0,212,255,1) 100%);
}


h6 {
font-size:8vw;
top:60%;

line-height: 2.5;
font-style: italic;
position: absolute;
}

img {

max-width: 100%;
width: 100%;
height: auto !important;
}

footer {
background: #030633;	
color:white;
width:100%;
}