body {
    margin: 0px;

}

.App {
    height: 100vh;
    display: flex;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.App__Aside {
    width: 50%;
    background-color: #827397;
}

.App__Form {
    width: 50%;
    background-color: #4d4c7d;
    padding: 25px 40px;
    overflow: auto;
}

.PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
}

.PageSwitcher__Item {
    background-color: #58587a;
    color: #9DA6B1;
    padding: 10px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
}

.PageSwitcher__Item--Active {
    background-color: #827397;
    color: white;
}

.PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.FormCenter {
    margin-bottom: 100px;
}

.FormTitle {
    color: #d4c3eb;
    font-weight: 300;
    margin-bottom: 50px;
}

.FormTitle__Link {
    color: #d4c3eb;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
}

.FormTitle__Link:first-child {
    margin-left: 0;
}

.FormTitle__Link--Active {
    color: white;
    border-bottom: 1px solid #bdaed1;
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
}

.FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #bdaed1;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
}

.FormField__Input::placeholder {
    color: #d4c3eb;
}

.FormField__Button {
    background-color: #827397;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
}

.FormField__Link {
    color: #d4c3eb;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #bdaed1;
    padding-bottom: 5px;
}

.FormField__CheckboxLabel {
    color: #d4c3eb;
    font-size: .9em;
}

.FormField__Checkbox {
    position: relative;
    top: 1.5px;
}

.FormField__TermsLink {
    color: white;
    border-bottom: 1px solid #bdaed1;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
}